@using DataLayer;

@model IEnumerable<ClinicAnimal>
<a asp-controller="Clinic" asp-action="Create" class="btn btn-primary">Create Clinic Animal</a>
<a asp-controller="Clinic" asp-action="CreateMunAnimal" class="btn btn-primary">Create Municipal Animal</a>
<h2>List of Clinic Animals</h2>
<table class="table">
	<thead>
	<th>Name</th>
	<th>Typology</th>
	<th>Microchip?</th>
	<th>Microchip Number</th>
	<th>Owner Name</th>
	<th></th>
	

	</thead>
	<tbody>
		@foreach (var a in Model)
		{
			<tr>
				<td>@a.Name</td>
				<td>@a.Typology</td>
				<td>@a.HasMicrochip</td>
				<td>@a.MicrochipNumber</td>
				<td>@a.OwnerName</td>



				<td>
					@Html.ActionLink("Dettagli Visite", "CADetails", "Clinic",new { id = a.Id }, new { @class = "btn btn-warning" })
					@Html.ActionLink("Nuova Visita", "NewClinicVisit", "Clinic",new { id = a.Id }, new { @class = "btn btn-warning" })
					</td>
			</tr>


		}
	</tbody>
</table>