@model WebApp.Models.MunicipalIndexViewModel

<a asp-controller="Municipal" asp-action="CreateMunAnimal" class="btn btn-primary">Create Municipal Animal</a>
@if (Model.Visits.Any())
{<p>List of animals in recovery</p>
	<div class="containeranimals  py-3 px-3">


		@foreach (var visit in Model.Visits)
		{

			<div class="card" style="width: 18rem;margin-right:50px;margin-bottom:20px;">
				<img class="card-img-top" src="@Url.Action("GetImage", "Municipal", new { id=visit.MunicipalAnimals.FirstOrDefault()?.Id })" >
				<div class="card-body">
					<h5 class="card-title">@visit.MunicipalAnimals.FirstOrDefault()?.Name</h5>
					<p class="card-text">Status @visit.Status</p>
				
				</div>
			</div>

		}
	</div>

}
else
{

	<div class="bg-warning text-danger">No Data</div>
}

@if (Model.Animals.Any())
{<p>List of municipal animals:</p>
	<div class="containeranimals  py-3 px-3">


		@foreach (var a in Model.Animals)
		{

			<div class="card" style="width: 18rem;margin-right:50px;margin-bottom:20px;">
				<img class="card-img-top" src="@Url.Action("GetImage", "Municipal", new { id=a.Id })" alt="@a.Name">
				<div class="card-body">
					<h5 class="card-title">@a.Name</h5>
					<p class="card-text">In Ospital? @a.IsInHospital</p>
					<p>
						@Html.ActionLink("New Visit", "NewMunicipalVisit", "Municipal",new { id = a.Id }, new { @class = "btn btn-warning" })
						@Html.ActionLink("Recoveries Details", "MADetails", "Municipal",new { id = a.Id }, new { @class = "btn btn-warning" })
						@Html.ActionLink("Edit MunicipalAnimal", "EditMA", "Municipal",new { id = a.Id }, new { @class = "btn btn-warning" })
					</p>
				</div>
			</div>

		}
	</div>

}
else
{

	<div class="bg-warning text-danger">No Data</div>
}
