@using DataLayer;
@model WebApp.Models.MADetailsViewModel
@{
	var count = Model.MunicipalVisits.Where(m => m.Status ==(RecoveryStatus)1).Count();
	var somma = Model.MunicipalVisits.Where(m => m.PaymentDate.Month == DateTime.Today.Month).Sum(m => m.Price);
	var month = DateTime.Today.ToString("MMMM");
	var tot =0;
}
<p>@Model.MunicipalAnimal.Name had @count recoveries,municipal kennel spent @somma euros for him this month of :  @month</p>


<p>Lista visite di: <strong>@Model.MunicipalAnimal.Name</strong></p>

@if (Model.MunicipalVisits.Any())
{
	<dl>
		@foreach (var v in Model.MunicipalVisits.OrderByDescending(x => x.VisitDate))
		{ var subtot = 0;
			 subtot += (int)(@v.Price);
			<dd>Status @v.Status</dd>
			<dd>Visita @v.VisitDate</dd>
			<dd>@v.Price</dd>
		}
	</dl>
}
else
{
	<div class="bg-warning text-danger">No visits</div>
}
