@using DataLayer
@model IEnumerable<Product>
@if (User.IsInRole("SuperAdmin"))
{
	<a asp-controller="Store" asp-action="Create" class="btn btn-primary">Create Product</a>
}
@if (Model.Any())
{
	<div class="containeranimals py-3 px-3">
		@foreach (var p in Model)
		{
			<div class="card" style="width: 18rem;margin-right:50px;margin-bottom:20px;">

				<div class="card-body">
					<h5 class="card-title">@p.MedicineName</h5>
					<p class="card-text">Company: @p.BusinessName</p>
					<p class="card-text">Typology: @p.Type</p>
					<p class="card-text">Price: @p.Price</p>
					<p class="card-text">Usage: @p.Usage</p>
					<form asp-controller="Store" asp-action="AddToCart" asp-route-id="@p.Id">
						<input min="1" max="10" type="number" name="qty" />
						<button id="MyButton" type="submit" class="btn btn-info">Add</button>
					</form>

				</div>
			</div>
		}
	</div>
}
else
{
	<div class="bg-warning text-danger">No Products</div>
}
@section Scripts{
	<script>
		

	</script>
}