@using DataLayer
@model AllAnimals
@{
	ViewData["Title"] = "Find Animal by Microchip";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Home" asp-action="FindAnimal">
	<label>Chip Number:</label>
	<input required type="text" name="id" />
	<button value="submit">Find</button>
</form>
@if (Model != null)
{
	@if (Model.ClinicAnimal != null)
	{	<p>Pet registered </p>
		<p>Pet Name:@Model.ClinicAnimal.Name</p>
		<p>Ragistration Date: @Model.ClinicAnimal.RegistrationDate</p>
	}
	else if (Model.MunicipalAnimal != null)
	{
		<p>Name: @Model.MunicipalAnimal.Name</p>
		<p>In Ospital? @Model.MunicipalAnimal.IsInHospital</p>
		<p>Recovery start: @Model.MunicipalAnimal.RecoveryStart</p>

		<img style="width:300px;height:300px;"class="card-img-top" src="@Url.Action("GetImage", "Municipal", new { id=Model.MunicipalAnimal.Id })" alt="Card image cap">
	}
}
else
{
	<p>No data </p>
}
