@using DataLayer
@model CartViewModel
@{
	int count = 0;
}
<p>Lista prodotti nel carrello</p>

@if (Model.ProductCartList.Any())
{

	<table class="table">
		<thead>
		<th>Product</th>
		<th>Quantity</th>
		<th>Price</th>
		</thead>
		<tbody>
			@foreach (var p in Model.ProductCartList)
			{
				int subtot = 0;
				subtot = (int)@p.Product.Price * @p.Quantity;
				count += subtot;
				if (p.Quantity > 0)
				{
					<tr>
						<td>@p.Product.MedicineName</td>
						<td>
							<form asp-controller="Cart" asp-action="UpdateQuantity" method="POST">
								<input type="hidden" name="id" asp-for="@p.Product.Id" id="id" />
								<input type="number" placeholder="@p.Quantity" asp-for="@p.Quantity" id="qty" name="qty" min="0" />
								<button type="submit" id="MyButtonUpdate" class="btn btn-info">Update</button>
							</form>
						</td>
						<td>@p.Product.Price €</td>
					</tr>
				}
			}
		</tbody>
	</table>
	<p>Totale:@count €</p>
}
else
{
	<div class="bg-warning text-danger">No products</div>
}
<div class="container">
	<form method="post" asp-controller="Cart" asp-action="CheckOut" enctype="multipart/form-data">
		<label asp-for="@Model.StreetName">Street</label>
		<br />
		<input type="text" required asp-for="@Model.StreetName"  name="street" />
		<br />
		<label>Prescription</label>
		<br />
		<input type="file" accept=".jpeg,.jpg,.png" />
		<br />
		<button class="btn btn-info">Checkout</button>
	</form>
</div>
